<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Donut Baron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/donut.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- raty components -->
    <link rel="stylesheet" href="/css/jquery.raty.css">

    <!-- Viima comments components -->
    <link rel="stylesheet" href="/css/jquery-comments.css" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#page-top">The Donut Baron</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#list">Upcoming</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#rate">Rate The Dollie</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#comments">Comments</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Top">Rankings</a>
                    </li>
                    <li class="page-scroll">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" style="padding-top: 17px; padding-bottom: 17px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Hello, <%= user.real_name %>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/logout">Logout</a></li>
                          </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="container-rank">
        <div class="container" id="Top">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/default.png" alt="">
                    <div class="intro-text">
                        <span class="name">The #1 Donut Dollie is:</span><br />
                        <span class="name" style="color: black"><%= users[0].real_name %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- List Section -->
    <section id="RankingList">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>User Rankings</h2>
                    <hr class="star-primary"> <!-- Should make a donut logo or something here -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-centered">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Overall Rank</th>
                                <th>Name</th>
                                <th>Donut Reliabilty Rating</th>
                                <th>Donut Quality Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% var i = 1 %>
                          <% users.forEach(function(user) { %>
                            <tr>
                            <th>
                                <%= i %>
                                <% i++ %>
                            </th>
                            <td>
                                <%= user.real_name %>
                            </td>
                            <td>
                                <%= user.donut_reliability_rating %>
                            </td>
                            <td>
                                <%= user.donut_quality_rating %>
                            </td>
                            </tr>
                          <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        View the source on <a href="https://github.com/ChristianJHughes/DonutBaron">Github</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/donut.js"></script>

    <!-- raty js -->
    <script src="js/jquery.raty.js"></script>

    <!-- Viima comments js -->
    <script type="text/javascript" src="js/jquery-comments.js"></script>

</body>

</html>
